<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" th:content="'FileUploader | ' + ${image.title}" />
    <meta property="og:url" th:content="'https://imageuploader.tk/image/' + ${image.id}" />
    <meta property="og:image" th:content="'https://imageuploader.tk/image/' + ${image.id}" />
    <meta content="#808080" data-react-helmet="true" name="theme-color"/>
    <title th:text="'ImageUploader | ' + ${image.title}">ImageUploader | Zdjęcie</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.min.css">
</head>
<body>
    <header>
        <h1>FileUploader - Hosting zdjęć!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Zaloguj</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/register">Zarejestruj</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/dashboard">Panel</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" onclick="document.forms['logoutForm'].submit()">Wyloguj się</a>
                </li>
            </ul>

            <form id="logoutForm" method="post" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
        </nav>
    </header>

    <main>
        <h1 th:text="${image.title}"></h1>
        <img th:src="@{/image/{id}(id=${image.id})}" alt="zdjęcie">
    </main>
</body>
</html>
