<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="ImageUploader | Edytor OG" />
    <meta property="og:description" content="Hosting zdjęć" />
    <meta content="#808080" data-react-helmet="true" name="theme-color"/>
    <title>ImageUploader | Edytor OG</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_mischka.min.css">
    <style>
        .center {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>ImageUploader - Hosting zdjęć!</h1>

        <nav>
            <ul>
                <li>
                    <a href="/">Strona główna</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/login">Zaloguj</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/register">Zarejestruj</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/dashboard">Panel</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/og">Edytor OG</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#" onclick="document.forms['logoutForm'].submit()">Wyloguj się</a>
                </li>
            </ul>

            <form id="logoutForm" method="post" th:action="@{/logout}">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            </form>
        </nav>
    </header>


    <main>
        <h1 th:if="${message != null}" th:text="${message}"></h1>
        <form method="post" th:action="@{/og}">
            <input th:value="${user.url}" name="url" type="text" placeholder="Link" autofocus/>
            <input th:value="${user.description}" name="description" type="text" placeholder="Opis" autofocus/>
            <input th:value="${user.color}" name="color" type="color" placeholder="Kolor" autofocus/>
            <button type="submit">Zapisz</button>
        </form>
  </main>
</body>
</html>
